@import "semantic-ui";

.chatbox {
    height: 450px;
}

.container-header-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sign-up-login-page {
    opacity: 30%;
}

#messages {
    overflow: auto;
    height: 15em;
}

.input {
    button {
        display: none;
    }
}